<!DOCTYPE html>
<html>
  <head>
    <title>C21Bread</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>C21 Bread</h1>
    <p>Ahlan wa sahlan Wildan</p>
  </body>
</html>
